/* gyms Page css */


.tabs {
    
    border-radius: 20px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 1085px;
    p{
        a{
            font-family: $textfont;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 2px;
            color: #1d1d1d;
            text-align: center;
        }
    }
}
.tab-result {
    .circle {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        background-color: #d8d8d8;
        top: 12%;
        left: 30%;
        position: relative;
    }
    h2 {
        font-family: $textfont;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 2px;
        text-align: center;
        color: $primarycolor;
        padding-top: 15px;
    }
}
.content {
    width: 100%;
    margin-left: 97px;
    padding-bottom: 30px;
    padding-top: 20px;
}
a:hover {
    text-decoration: none !important;
}

.gym-collection {
    padding-bottom: 90px;
}


.collection-box {
    width: 340px;
    height: 336px;
    border-radius: 20px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    h2 {
        font-family: $headingfont;
        font-size: 20px;
        font-weight: bold;
        color: $primarycolor;
    }
    p {
        font-family: $textfont;
        font-size: 14px;
        color: $primarycolor;
    }
    .star {
        width: auto;
    }
    span {
        font-family: $textfont;
        font-size: 10px;
        color: $primarycolor;
        margin-left: 10px;
    }
    .collection-body {
        padding-top: 35px;
        padding-left: 30px;
    }
}

