/* Home Page css */

.page-header {
    background: url('../images/home/hero.png')no-repeat; position: relative; background-size: cover;
    background-position: center; 
    height: 633px;
    padding-top: 120px;

    h2 {
        width: 350px;
        font-family: $headingfont;
        font-size: 32px;
        font-weight: bold;
        color: #ffffff;
    }
    p{
        font-family: $textfont;
        font-size: 16px;
        color: #ffffff;
        padding-top: 10px;
    }
    button {
        width: 311px;
        height: 60px;
        border-radius: 30px;
        background-color: #8ad1dc;
        font-family: $textfont;
        font-size: 12px;
        font-weight: bold;
        color: $primarycolor;
        margin-top: 30px;
    }
  }

  /* blurb section css */
  .blurb-box {
    margin-top: -190px;
  }
  .card {
    width: 343px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border: none !important;
    .card-imgs {
        width: 343px;
    }
    h2 {
        font-family: $headingfont;
        font-size: 20px;
        font-weight: bold;
        color: $primarycolor;
    }
    p{
        font-family: $textfont;
        font-size: 14px;
        color: $primarycolor;
        padding-top: 10px;
    }
    .card-body {
        padding-top: 40px;
        padding-left: 35px;
    }
  }

  /* moova choice section CSS */

  .moova-choice{
      padding-top: 90px;
      padding-bottom: 90px;
  }
  .section-heading {
      h2 {
        font-family: $textfont;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 10.5px;
        color: $primarycolor;
        text-align: center;
      }
      p{
        font-family: $textfont;
        font-size: 16px;
        text-align: center;
        color: $primarycolor;
        padding-top: 30px;
      }
  }

  .card-choice {
    width: 530px;
    height: 224px;
    border-radius: 20px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-top: 30px;
  }
  .choice-dec{
      margin-left: 66px;
      padding-top: 20px;
      h2 {
        padding-top: 20px;
        font-family: $headingfont;
        font-size: 20px;
        font-weight: bold;
        color: $primarycolor;
      }
      p{
        font-family: $textfont;
        font-size: 14px;
        color: $primarycolor;
        padding-top: 10px;
        width: max-content;
      }
      span{
        font-family: $textfont;
        font-size: 10px;
        color: $primarycolor;
        margin-left: 10px;
      }
  }
  .color-box {
    width: 239px;
    height: 36px;
    border-radius: 18px;
    background-color: #8ad1dc;
    h5 {
        font-family: $textfont;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 5.25px;
        color: #ffffff;
        padding-top: 12px;
        margin-left: 12px;
    }
    img {
        margin-top: -1px;
    }
  }
  .all-studio {
      text-align: center;
      margin-top: 70px;
      a {
        width: 278px;
        height: 60px;
        border-radius: 30px;
        background-color: #8ad1dc;
        font-family: $textfont;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 3px;
        color: $primarycolor;
        padding-top: 20px;
      }
  }

  /* heading seo Section CSS */

  .heading-seo {
    height: 469px;
    background-color: #edefed;
    .seo-box {
        padding-top: 120px;
    }
    h2 {
        font-family: $headingfont;
        font-size: 24px;
        font-weight: bold;
        color: $primarycolor;
    }
    p {
        width: 373px;
        font-family: $textfont;
        font-size: 16px;
        color: $primarycolor;
        padding-top: 10px;
    }
  }
  .bg-img{
    background: url('../images/home/bg.svg')no-repeat;
    float: right;
    left: 672px;
    position: absolute;
    img {
        margin-top: -96px;
        margin-left: 90px;
    }
  }


  /* Work Section Css */

  .works {
      padding-top: 90px;
      padding-bottom: 90px;
  }
  .work-box {
      text-align: center;
      padding-top: 50px;
      .work-img {
        width: 80px;
        height: 80px;
        border-radius: 40px;
        background-color: #eddbe6;
        margin-left: 133px;
        margin-bottom: 20px;
      }
      img {
          padding-top: 15px;
          width: auto !important;
      }
      h2 {
        font-family: $headingfont;
        font-size: 24px;
        font-weight: bold;
        color: $primarycolor;
      }
      p {
        font-family: $textfont;
        font-size: 16px;
        color: $primarycolor;
      }
  }

  /* Fitness Tips Section css */

  .fitness {
    height: 810px;
    background-color: #edefed;
    padding-top: 90px;
  }



  #owl-demo .item{
    margin: 3px;
  }
  #owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
  }

  .carousel-wrap {
    margin: 30px auto;
    padding: 0 5%;
    width: 100%;
    position: relative;
  }
  
  /* fix blank or flashing items on carousel */
  .owl-carousel .item {
    width: 94%;
    position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden;
  }
  
  /* end fix */
  .owl-nav > div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
  }
  
  .owl-nav i {
    font-size: 52px;
  }
  
  .owl-nav .owl-prev {
    left: -30px;
  }
  
  .owl-nav .owl-next {
    right: -30px;
  }

  .item{
      p{
        font-family: $textfont;
        font-size: 14px;
        color: #ffffff;
        margin-top: -95px;
        position: absolute;
        padding-left: 20px;
      }
      span {
          margin-left: 150px;
      }
      h2 {
        font-family: $headingfont;
        font-size: 20px;
        font-weight: bold;
        color: #ffffff;
        margin-top: -65px;
        position: absolute;
        padding-left: 20px;
      }
      a {
        font-family: $headingfont;
        font-size: 20px;
        font-weight: bold;
        color: #ffffff;
        margin-top: -65px;
        position: absolute;
        padding-left: 20px;
      }
      a:hover {
        text-decoration: none !important;
      }
  }


  /*  FEATURED TRAINERS CSS */
  .trainer {
      padding-top: 90px;
      padding-bottom: 50px;
  }
  
  
  /*Owl Carosal Start */

.col-md-4{
    display: inline-block;
    margin-left:-4px;
  }
  .col-md-4 img{
    width:100%;
    height:auto;
  }

  
  /*Owl Carosal End */

.trainer-card {
    width: 337px;
    height: 187px;
    border-radius: 40px 40px 0px 0px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    margin-bottom: 90px;
    img {
        width: 120px;
        height: 120px;
        text-align: center;
        margin-top: -68px;
    }
    h2 {
        font-family: $headingfont;
        font-size: 20px;
        font-weight: bold;
        color: $primarycolor;
        margin-top: 30px;
    }
    p {
        font-family: $textfont;
        font-size: 14px;
        color: $textfont;
        margin-top: 20px;
    }
    .trainer-footer {
        background-image: linear-gradient(to right, #eddbe6, #8ad1dc);
        border-radius: 0px 0px 60px 60px;
        margin-top: 35px;
        img {
            width: 20px;
            height: 50px;
            margin-top: -1px;
        }
    }
}

.icon-box {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    background: #ffff;
    img {
        padding-top: 17px;
    }
}
.icon-boxtwo {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    background: #ffff;
    img {
        padding-top: 14px;
    }
}
.carousel-control-prev {
    width: 5% !important;
    opacity: inherit;
}
.carousel-control-next {
    width: 5% !important;
    opacity: inherit;
}

 /*  Review CSS */

.review {
    height: 556px;
    background-color: #f5f5e8 !important;
    padding-top: 90px;
    position: relative;
    background-size: auto;
    background-position: bottom;
    background: url('../images/home/patren.svg')no-repeat;
    background-position: 60px 339px, -50px -104px, left bottom;
    .review-card{
        width: 530px;
        height: 237px;
        border-radius: 40px;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        margin-top: 90px;
        img {
            width: 120px;
            height: 120px;
            margin-top: -62px;
            margin-bottom: 30px;
        }
        p {
            font-family: $textfont;
            font-size: 14px;
            color: $primarycolor;
            padding-left: 35px;
            padding-right: 35px;
        }
        h2 {
            font-family: $headingfont;
            font-size: 20px;
            font-weight: bold;
            color: $primarycolor;
        }
        .star {
            width: 19.9px;
            height: 19.1px;
            margin-top: 5px;
        }
    }
}

.mbl-hide {
  display: block;
}
.desk-hide {
  display: none;
}


