/* nav css */

.menu {
    height: 115px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 20px;
}
.nav-link {
    font-family: $textfont;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    color: $primarycolor !important;
    margin-top: 10px;
    margin-right: 10px;
}
.navbar-nav {
    margin-left: 30px;

    .nav-link {
        font-family: $textfont;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 2px;
        color: $primarycolor !important;
        margin-top: 10px;
        margin-right: 10px;
    }
}

.join {
    width: 164px;
    height: 60px;
    border-radius: 30px;
    background-color: #8ad1dc;
    border-color: #8ad1dc;
    font-family: $textfont;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    color: $primarycolor;
  }