/* Pricing Page Css */

.section-heading {
    h4{
        width: 580px;
        height: 60px;
        border-radius: 20px;
        background-color: #dbedde;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        color: #1d1d1d;
        padding-top: 20px;
        margin-left: 268px;
        margin-top: 30px;
    }
}

.price {
    padding-bottom: 50px;
}
.togl-button {
    width: 148px;
    height: 60px;
    border-radius: 20px;
}
.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle {
    color: $primarycolor;
    border-color: #8ad1dc;
    background-color: #8ad1dc;
}
.btn-outline-secondary:hover {
    color: $primarycolor;
    border-color: #8ad1dc;
    background-color: #8ad1dc;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    display: contents;
}
.btn-group {
    label {
        font-family: $textfont;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 2px;
        color: $primarycolor;
        padding-top: 20px;
    }
}
.price-note {
    padding-top: 20px;
    padding-bottom: 30px;
    p {
        font-family: $textfont;
        font-size: 12px;
        color: $primarycolor;
    }
}
.card-price {
    width: 250px;
    height: 870px;
    border-radius: 20px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-left: -15px;
}

.card-lable {
    width: 250px;
    height: 40px;
    background-color: #eddbe6;
    padding-top: 12px;
    border-radius: 15px 18px 0px 0px;
    p {
        font-family: $textfont;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 3px;
        text-align: center;
        color: $primarycolor;
    }
}
.card-offer {
    width: 306px;
    height: 40px;
    background-color: #eddbe6;
    padding-top: 12px;
    border-radius: 0px 0px 0px 0px;
    p {
        font-family: $textfont;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 3px;
        text-align: center;
        color: $primarycolor;
    }
}
.card-img {
    background: url('../images/price.jpg')no-repeat;
    width: 250px;
    height: 190px;
    background-color: #1d1d1d;
    h2 {
        font-family: $headingfont;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
        padding-top: 10px;
    }
    h3 {
        font-family: $headingfont;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
        padding-top: 3px;
    }
    h6 {
        font-family: $textfont;
        font-size: 14px;
        text-align: center;
        color: #ffffff;
        padding-top: 3px;
    }
}

.card-imgyear {
    background: url('../images/price.jpg')no-repeat;
    width: 250px;
    height: 190px;
    background-color: #1d1d1d;
    h2 {
        font-family: $headingfont;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
        padding-top: 10px;
    }
    h3 {
        font-family: $headingfont;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
        padding-top: 3px;
    }
    h6 {
        font-family: $textfont;
        font-size: 14px;
        text-align: center;
        color: #ffffff;
        padding-top: 3px;
    }
    .circle {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        background-color: #d8d8d8;
        top: 10% !important;
        left: 39%;
        position: relative;
    }
}


.circle {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #d8d8d8;
    top: 12%;
    left: 39%;
    position: relative;
}
.card-note {
    height: 86px;
    background-color: #edefed;
    p {
        font-family: $textfont;
        font-size: 12px;
        line-height: 1.5;
        text-align: center;
        color: $primarycolor;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
.card-body {
    padding-top: 30px;
    p {
        text-align: left ;
    }
    span {
        font-family: $textfont;
        font-size: 14px;
        color: $primarycolor;
        margin-left: 20px;
        text-align: left;
    }
    .mn {
        margin-left: 48px;
    }
}
.pricing-btn {
    width: 147px;
    height: 60px;
    border-radius: 30px;
    background-color: #8ad1dc;
    font-family: $textfont;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    color: $primarycolor;
    padding-top: 20px;
    margin-top: 20px;
}


.card-pricetwo{
    width: 250px;
    height: 1180px;
    border-radius: 20px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-left: -15px;
    .card-img{
        height: 231px;
    border-radius: 20px 20px 0px 0px;
    h2 {
        padding-top: 50px;
    }
    }
    .circle {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        background-color: #d8d8d8;
        top: 25%;
        left: 39%;
        position: relative;
    }
    .addition {
        border-bottom: 1px solid;
        height: 40px;
        border-color: lightgray;
        p {
            font-family: $textfont;
            font-size: 12px;
            color: $primarycolor;
            padding-top: 10px;
        }
    }
}

.card-pricethree {
    width: 314px;
    height: 1000px;
    border-radius: 20px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-left: -35px;
    border: 4px solid !important;
    border-color: #8ad1dc !important;
    .card-lable{
        background-color: #8ad1dc;
        width: 310px;
    }
    .card-img {
        width: 306px;
    }
    .circle {
        background-color: #ffffff;
    }
    .addition {
        border-bottom: 1px solid;
        height: 40px;
        border-color: lightgray;
        p {
            font-family: $textfont;
            font-size: 12px;
            color: $primarycolor;
            padding-top: 10px;
        }
    }
}
.card-pricefour {
    width: 250px;
    height: 1070px;
    border-radius: 20px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-left: 9px;
    .card-img{
        height: 231px;
    border-radius: 20px 20px 0px 0px;
    h2 {
        padding-top: 50px;
    }
    }
    .circle {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        background-color: #d8d8d8;
        top: 25%;
        left: 39%;
        position: relative;
    }
    .addition {
        border-bottom: 1px solid;
        height: 40px;
        border-color: lightgray;
        p {
            font-family: $textfont;
            font-size: 12px;
            color: $primarycolor;
            padding-top: 10px;
        }
    }
}


.pricing5 .yearly {
  display: none;
}


@media only screen and (max-width: 600px) { 

   
}