/* home Mobile View Css */

@media only screen and (max-width: 600px) {
 
    .mbl-hide {
      display: none;
    }
    .desk-hide {
      display: block;
    }
     .menu {
       padding-left: 0px;
       padding-right: 0px;
     }
     .navbar-toggler-icon {
       width: 1.0em;
       height: 1.0em;
     }
     .header-logo {
       width: 100px;
       height: 18px;
       margin-left: 87px;
     }
     .collapse.show {
       display: block;
       z-index: 1;
       background-color: #fff;
       padding-left: 30px;
       padding-bottom: 30px;
     }
     .page-header h2 {
       font-size: 26px;
       text-align: center;
     }
     .page-header p {
       font-size: 14px;
       line-height: 2;
       text-align: center;
     }
     .page-header button {
       width: 262px;
       font-size: 10px;
       margin-top: 20px;
       letter-spacing: 2px;
       margin-left: 42px;
     }
     .page-header {
       background: url(../images/home/mbl-hero.png) no-repeat;
       position: relative;
       background-size: cover;
       background-position: unset;
       height: 480px;
       padding-top: 92px;
     }
   
     .card-cta {
       width: 345px;
       height: 100px;
       border-radius: 20px;
       box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
       background-color: #ffffff;
       margin-bottom: 15px;
       img {
         width: 100px;
         height: 100px;
       }
       h2 {
         font-family: $headingfont;
         font-size: 18px;
         font-weight: bold;
         color: $primarycolor;
       }
       p {
         font-family: $textfont;
         font-size: 12px;
         color: $primarycolor;
       }
       .cta-body {
         margin-top: 25px;
         margin-left: -5px;
       }
     }
     .blurb-box {
       margin-top: -60px;
     }
     .section-heading h2 {
       font-size: 16px;
       letter-spacing: 6.91px;
     }
     .section-heading img {
       width: 35px;
       height: 18px;
     }
     .section-heading p {
       font-size: 14px;
       padding-top: 20px;
     }
     .mbl-choice {
       width: 279px;
       height: 335px;
       border-radius: 20px;
       box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
       background-color: #ffffff;
       img {
         width: 279px;
         height: 162px;
       }
       .mblchoice-dec {
          padding: 20px;
         .bg-box {
           width: 208.6px;
           height: 31.4px;
           border-radius: 15.7px;
           background-color: #8ad1dc;
           display: flex;
           padding-top: 9px;
           padding-left: 5px;
           h5 {
             font-family: $textfont;
             font-size: 10.5px;
             font-weight: bold;
             letter-spacing: 4.58px;
             color: #ffffff;
             padding-left: 5px;
           }
           img {
             width: 23px;
             height: 12px;
           }
         }
         h3 {
           font-family: $headingfont;
           font-size: 18px;
           font-weight: bold;
           color: $primarycolor;
           margin-top: 15px;
         }
         p {
           font-family: $textfont;
           font-size: 12px;
           color: $primarycolor;
           margin-top: 0px;
           padding-left: 0px;
         }
         .star-img {
           display: flex;
           width: 19.9px;
           height: 19.1px;
           margin-top: -38px;
         }
       }
     }
    .mobile-carousel {
     .active {
       width: 283px !important;
       margin-right: 10px !important;
       margin-left: 10px !important;
       margin-bottom: 20px !important;
       
     }
    }
   
    .heading-seo .seo-box {
     padding-top: 42px;
   }
   .heading-seo {
     h2 {
       font-size: 20px;
       text-align: center;
     }
     p {
       font-size: 14px;
       line-height: 2;
       text-align: center;
       padding-right: 40px;
       padding-left: 20px;
     }
   }
   .bg-img {
     background: url(../images/home/mbl-bg.svg) no-repeat;
     float: right;
     left: 31px;
     margin-top: 247px;
   }
   .bg-img img {
     margin-top: -53px;
     margin-left: 90px;
     width: 131px;
     height: 320px;
   }
   
   .work-box h2 {
     font-size: 20px;
   }
   .work-box p {
     font-size: 14px;
   }
   .item span {
     margin-left: 93px;
   }
   .carousel-wrap {
     margin-left: 10px;
   }
   .owl-carousel .post img {
    width: 98% !important;
}
   
   .trainer-card {
     width: 280px;
     margin-left: 17px;
     height: 160px;
     .trainer-profile {
       width: 100px !important;
       height: 100px;
       border-radius: 50px;
       top: -38px;
       margin-left: 94px;
       position: relative;
       margin-top: -49px;
     }
     h2 {
       font-size: 18px;
       margin-top: -19px;
       margin-left: 80px;
     }
     p {
       font-family: Montserrat;
       font-size: 12px;
       color: $primarycolor;
       margin-top: 11px;
       margin-left: 80px;
     }
     .trainer-footer {
       margin-top: 50px;
       img {
         display: inline;
       }
     }
   }
   
   
   .review {
     background: url(../images/home/review-bg.svg) no-repeat;
     background-position: -76px 656px, -50px -104px, left bottom;
     padding-top: 50px;
     height: 811px;
     .review-card {
       width: 341px;
       p {
       font-size: 12px;
       padding-left: 20px;
       padding-right: 20px;
       line-height: 1.67;
       margin-top: -10px;
       }
       h2 {
         font-size: 18px;
       }
     }
   }
   
   .mbl-footer {
     height: 700px;
     background-color: #1d1d1d;
     padding-top: 50px;
     padding-bottom: 90px;
   }
   .accordion .card-header:after {
     font-family: 'FontAwesome';  
     content: "\f068";
     float: right; 
   }
   .accordion .card-header.collapsed:after {
     /* symbol for "collapsed" panels */
     content: "\f067"; 
   }
   
   .card-header {
     padding: 1.75rem 1.25rem;
     color: #fff;
     border-top: 1px solid;
     border-bottom: 1px solid;
     border-color: lightgrey;
     border-radius: 0px !important;
     .card-title {
       font-family: $headingfont;
       font-size: 18px;
       font-weight: bold;
     }
   }
   .footer-card {
     .collapse.show {
       display: block;
       z-index: 1;
       background-color: #1d1d1d;
       padding-left: 30px;
       padding-bottom: 30px;
       color: #ffffff;
       line-height: 2.71;
       font-family: $textfont;
     }
   }
   .footer-box {
     border-bottom: 1px solid;
     border-color: lightgrey;
     width: 109%;
     margin-left: -13px;
     padding-bottom: 30px;
     h2 {
       font-family: $headingfont;
       font-size: 18px;
       font-weight: bold;
       color: #ffffff;
       margin-left: 22px;
       padding-top: 30px;
       padding-bottom: 20px;
     }
     img {
       margin-right: 10px;
       margin-left: 22px;
     }
     span {
       font-family: $textfont;
       font-size: 10px;
       color: #d8d8d8;
     }
   }
   .footerlast-box {
   
     h2 {
       font-family: $headingfont;
       font-size: 18px;
       font-weight: bold;
       color: #ffffff;
       margin-left: 10px;
       padding-top: 30px;
     }
     span {
       font-family: $textfont;
       font-size: 10px;
       color: #d8d8d8;
       margin-left: 10px;
     }
   }
   .owl-nav {
     display: none;
   }



/* Join Us Mobile View Css */

.join-body {
    width: 328px !important;
    margin-left: 6% !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    h2 {
        font-size: 26px !important;
    }
    }
    .email-box h3 {
        font-size: 10px !important;
    }
    .google-box h3 img {
        height: 19.7px !important;
        margin-left: 0px !important;
    }
    .google-box h3 span {
        font-size: 10px !important;
        margin-left: 6px !important;
    }
    .facebook-box h3 img {
        height: 19.7px !important;
        margin-left: -13px !important;
    }
    .facebook-box h3 span {
        font-size: 10px !important;
        margin-left: 5px !important;
    }
    .join-body p {
        font-size: 12px !important;
    }
    .join-body h5 {
        font-size: 12px !important;
    }
    .partner-card {
        width: 328px !important;
        margin-left: 6% !important;
        h2 {
            font-size: 18px !important;
        }
        p {
            font-size: 12px !important;
            padding-left: 30px !important;
            padding-right: 30px !important;
        }
    }

/* Explore Mobile View Css */

.sports-box img {
    height: 184px ;
    width: 348px  !important;
}

/* Gyms Mobile View Css */

.tabs {
    padding-top: 13px;
    width: auto;
}
.content {
    margin-left: -14px;
}
.collection-box {
    width: 335px;
    height: 300px;
    margin-top: 30px;
    margin-left: 8px;
}
.tab-result h2 {
  margin-left: 17px !important;
}
.blog-box {
  margin-bottom: 30px !important;
  margin-left: 6px !important;
}


/* Inner Gym Mobile View Css */

.inner-header {
    background: url(../images/inner-gym/hero-mbl.png) no-repeat !important;
    position: relative;
    background-size: cover;
    height: 420px !important;
}
.card-section .card-block {
    width: 345px !important;
    margin-left: 0px !important;
    height: 274px !important;
    h2 {
        font-size: 26px !important;
    }
    p {
        font-size: 14px !important;
    }
}
.join {
    font-size: 10px !important;
}
.discription-section h2 {
    font-size: 18px !important;
}
.discription-section p {
    font-size: 12px !important;
}
.discription-section h3 {
    font-size: 18px !important;
    margin-top: 30px !important;
}
.discription-section .card-staff {
    margin-bottom: 12px !important;
}
.card-map {
    width: 352px !important;
    margin-top: 40px !important;
}
.amenities {
    width: 352px !important;
}
.card-social {
    width: 352px !important;
}
.spc {
    margin-top: 0px !important;
}


/* Trainer Detail Mobile View Css */

.trainer-header {
    background: url(../images/trainer-detail/trainer-hero.png) no-repeat !important;
    position: relative;
    background-size: cover;
    height: 440px !important;
}
.card-trainer {
    width: 345px !important;
    margin-left: 0px !important;
    height: 288px !important;
}
.card-trainer img {
    width: 80px !important;
    height: 80px !important;
    margin-top: -90px !important;
}
.card-trainer h2 {
    margin-top: 0px !important;
    font-size: 26px !important;
}
.trainer-dec {
    font-size: 14px !important;
}
.ratig img {
    width: 16px !important;
    height: 15px !important;
    margin-top: 0px !important;
}
.trainer-dec img {
    width: 16px !important;
    height: 16px !important;
    margin-right: 5px !important;
    margin-top: 0px !important;
}
.gallery-img {
    width: 157px !important;
    height: 157px !important;
    border-radius: 20px !important;
    margin-left: 16px !important;
    margin-bottom: 21px !important;
}
.revw-sec {
    margin-left: 20px !important;
    margin-right: 20px !important;
}
.card-more {
    width: 350px !important;
}
.dark {
    font-weight: bold !important;
}

/* About Page Mobile View Css */
.about-info {
    padding-top: 35px !important;
    text-align: center !important;
}
.about-info p {
    font-size: 12px !important;
     width: auto !important; 
}
.about-info h2 {
    font-size: 20px !important;
}
.about-img img {
    width: 344px !important;
    height: 290px !important;
}

/* Price Page Mobile View Css */

.card-lable p {
  margin-top: 0px; 
  position: initial;
  padding-left: 0px;
}
.circle {
  margin-top: 0px !important;
  padding-left: 0px !important;
  position: relative !important;
}
.card-img h2 {
  margin-top: 0px !important;
  position: initial !important;
  padding-left: 0px !important;
  color: $primarycolor !important;
}
.card-img h3 {
  color: $primarycolor !important;
}
.card-img h6 {
  color: $primarycolor !important;
}

.card-imgyear h2 {
  margin-top: 0px !important;
  position: initial !important;
  padding-left: 0px !important;
  color: $primarycolor !important;
}
.card-imgyear h3 {
  color: $primarycolor !important;
}
.card-imgyear h6 {
  color: $primarycolor !important;
}

.card-note p {
  margin-top: 0px; 
  position: initial;
}
.card-body p {
  text-align: left;
  margin-top: 0px; 
  position: initial;
  padding-left: 0px;
}
.card-body span {
  margin-left: 20px !important;
}
.card-body img {
  display: inline !important;
  width: 10% !important;
}
.card-body .mn {
  margin-left: 48px !important;
}
.addition p {
  margin-top: 0px !important;
  padding-left: 60px !important;
}
.card-price {
  margin-left: 20px !important;
}
.card-pricetwo {
  margin-left: 20px !important;
}
.carousel-wrap {
  padding: 0% !important;
  width: 102% !important;
}
.card-pricethree {
  margin-left: 12px !important;
  width: 300px !important;
}
.card-pricethree .card-lable {
  background-color: #8ad1dc;
  width: 295px !important;
}
.card-pricethree .card-img {
  width: 292px !important;
}
.card-pricethree .addition p {
  padding-left: 97px !important;
}
.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle {
  color: $primarycolor;
  border-color: #f5f5e8 !important;
  background-color: #f5f5e8 !important;
}
.btn-outline-secondary:hover {
  color: $primarycolor;
  border-color: #f5f5e8 !important;
  background-color: #f5f5e8 !important;
}
.btn-outline-secondary {
  border-color: #f5f5e8 !important;
}
.card-img {
  background: none !important;
  background-color: #ffffff !important;
}
.card-imgyear {
  background: none !important;
  background-color: #ffffff !important;
  .circle {
    top: 7% !important; 
 }
}
.card-pricethree .circle {
  background-color: #d8d8d8;
  margin-left: 6px;
}

.card-offer p {
  margin-top: 0px !important;
  position: initial;
  padding-left: 0px !important;
}
.card-offer {
  width: 292px !important;
}

/* Blog Page Mobile View Css */

.featured-img {
  width: 345px !important;
  height: 210px !important;
  border-radius: 20px 20px 0px 0px !important;
}

.featured-body {
  width: 345px !important;
  height: 250px !important;
  border-radius: 0px 0px 20px 20px !important;
  padding-top: 53px !important;
  margin-left: 0px !important;
}
.featured-body h2 {
  font-size: 26px !important;
  padding-right: 30px;
}

   
   }



