/* Footer Css */

.footer {
    height: 440px;
    background-color: #1d1d1d !important;
    padding-top: 90px;
    background: url('../images/home/footer-patren.png')no-repeat;
    position: relative;
    background-size: auto;
    background-position: left;
    background-position: -682px;
    .footer-box {
        h2{
            font-family: $headingfont;
            font-size: 20px;
            font-weight: bold;
            color: #ffffff;
        }
        p {
            font-family: $textfont;
            font-size: 14px;
            line-height: 2.71;
            color: #d8d8d8;
        }
        span {
            font-family: $textfont;
            font-size: 10px;
            line-height: 1.71;
            color: #d8d8d8;
        }
        img {
            margin-right: 25px;
        }
    }
}