
$headingfont : Montserrat Alternates;
$textfont : Montserrat;
$primarycolor : #1d1d1d;


@import "nav";
@import "home";
@import "price";
@import "gym";
@import "footer";
@import "responsive";


/* How it works Page Css */

.how-work {
    height: 500px;
    padding-top: 90px;
}


/* Explore Page Css */

.explore {
    padding-top: 90px;
    padding-bottom: 110px;
}
.explore-boxs {
    margin-top: -30px;
}
.sports-box {
    margin-top: 70px;
    img{
        width: 529px;
    }
    h2 {
        font-family: $headingfont;
        font-size: 20px;
        font-weight: bold;
        color: #ffffff;
        margin-top: -60px;
        padding-left: 30px;
    }
}


/* About Page Css */

.about-header {
    padding-top: 90px;
    padding-bottom: 20px;
}

.about-detail{
    padding-bottom: 90px;
}
.about-info {
    padding-top: 110px;
    h2 {
        font-family: $headingfont;
        font-size: 24px;
        font-weight: bold;
        color: $primarycolor;
    }
    p{
        font-family: $textfont;
        font-size: 14px;
        line-height: 2;
        color: $primarycolor;
        width: 500px;
    }
}
.about-img {
    img{
        width: 500px;
        height: 390px;
        border-radius: 20px;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    }
}

/* join Us Page css */

.join-card {
    padding-bottom: 90px;
}

.join-body {
    width: 580px;
    height: 443px;
    border-radius: 20px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-left: 26%;
    margin-top: 2%;
    padding-top: 30px;
    padding-left: 90px;
    padding-right: 100px;
    h2 {
        font-family: $headingfont;
        font-size: 32px;
        font-weight: bold;
        color: $primarycolor;
    }
    .email-box {
        height: 60px;
        border-radius: 30px;
        background-color: #8ad1dc;
        margin-top: 40px;
        h3 {
            font-family: $textfont;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 3px;
            color: $primarycolor;
            padding-top: 23px;
        }
    }
    .google-box {
        height: 60px;
        border-radius: 30px;
        border: solid 2px #8ad1dc;
        padding-top: 5px;
        margin-top: 20px;
        h3 {
            img {
                height: 29.7px;
                margin-left: -62px;
                margin-top: 3px;             
            }
            span {
                font-family: $textfont;
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 3px;
                color: $primarycolor;
                margin-left: 33px;
            }
        }
    }
    .facebook-box {
        height: 60px;
        border-radius: 30px;
        border: solid 2px #8ad1dc;
        padding-top: 5px;
        margin-top: 20px;
        h3 {
            img {
                height: 29.7px;
                margin-left: -56px;
                margin-top: 3px;            
            }
            span {
                font-family: Montserrat;
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 3px;
                color: #1d1d1d;
                margin-left: 17px;
            }
        }
    }
    p {
        opacity: 0.89;
        font-family: $textfont;
        font-size: 14px;
        color: $primarycolor;
        margin-top: 30px;
    }
    h5 {
        opacity: 0.89;
        font-family: $textfont;
        font-size: 14px;
        font-weight: bold;
        color: $primarycolor;
    }
}

.partner-card {
    width: 580px;
    height: 130px;
    border-radius: 20px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-left: 26%;
    margin-top: 4%;
    padding-top: 30px;
    h2 {
        font-family: $headingfont;
        font-size: 20px;
        font-weight: bold;
        color: $primarycolor;
    }
    p {
        opacity: 0.89;
        font-family: $textfont;
        font-size: 14px;
        color: #1d1d1d;
        padding-top: 10px;
    }
    u {
        font-weight: bold;
    }
}


/* inner gym page css  */

.inner-header {  
    background: url('../images/inner-gym/hero.png')no-repeat; position: relative; background-size: cover; 
    height: 574px;
  
  }

  .card-section { 
      position: relative; 
      bottom: 60px;
      .card-block { 
        width: 580px;
        height: 267px;
        border-radius: 20px;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        padding: 32px;
        margin-left: 240px;
        margin-top: -76px;
        h2 {         
            font-family: $headingfont;
            font-size: 32px;
            font-weight: bold;
            color: $primarycolor;
        }
        p {
            font-family: $textfont;
            font-size: 16px;
            color: #1d1d1d;
            padding-top: 10px;
        }
        span {
            font-family: $textfont;
            font-size: 10px;
            color: #1d1d1d;
            margin-left: 10px;
        }
      }
    }

.discription-section {
    padding-bottom: 80px;
    h2 {
        font-family: $headingfont;
        font-size: 20px;
        font-weight: bold;
        color: $primarycolor;
    }
    p {
        font-family: $textfont;
        font-size: 14px;
        line-height: 2;
        color: $primarycolor;
    }
    h3 {
        font-family: $headingfont;
        font-size: 20px;
        font-weight: bold;
        color: $primarycolor;
    }
    .card-staff {
        width: 328px;
        height: 80px;
        border-radius: 40px;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        img {
            width: 80px;
            height: 80px;
            object-fit: contain;
            border-radius: 40px;
        }
        h5 {
            font-family: $textfont;
            font-size: 14px;
            font-weight: bold;
            color: $primarycolor;
            margin-left: 15px;
        }
        p {
            font-family: $textfont;
            font-size: 14px;
            color: $primarycolor;
            margin-left: 15px;
        }
    }
  }
  .spc {
      margin-top: 30px;
  }
  .card-map {
    background: url('../images/inner-gym/google-maps-759.jpg')no-repeat; position: relative; background-size: cover;
    width: 373px;
    height: 240px;
    border-radius: 20px;
    h2 {
        font-family: $headingfont;
        font-size: 20px;
        font-weight: bold;
        color: $primarycolor;
        padding: 30px;
    }
  }
.amenities {
    width: 373px;
    height: 168px;
    border-radius: 20px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #edefed;
    h2 {
        font-family: $headingfont;
        font-size: 20px;
        font-weight: bold;
        color: $primarycolor;
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 20px;
        text-align: left;
    }
  }
  .icon-title {
    font-family: $textfont;
    font-size: 10px;
    line-height: 2.4;
    text-align: center;
    color: $primarycolor
  }
  .card-social {
    width: 373px;
    height: 129px;
    border-radius: 20px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #edefed;
    h2 {
        font-family: $headingfont;
        font-size: 20px;
        font-weight: bold;
        color: $primarycolor;
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 20px;
    }
    img {
        width: 20.9px;
        height: 20.9px;
        object-fit: contain;
        margin-left: 30px;
    }
  }


  /* Trainer Detail Page Css */

  .trainer-header {  
    background: url('../images/trainer-detail/60DA967F-D0E7-4CC2-9553-C211B07514F9.png')no-repeat; position: relative; background-size: cover; 
    height: 574px;
  }

  .card-trainer{
    width: 580px;
    height: 327px;
    border-radius: 20px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 32px;
    margin-left: 240px;
    margin-top: -76px;
    img {
        width: 160px;
        height: 160px;
        border-radius: 100px;
        margin-top: -120px;
    }
    h2 {
        margin-top: 10px;
        font-family: $headingfont;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        color: $primarycolor;
    }
    button {
        margin-top: 30px;
    }
  }
  .trainer-dec {    
  font-family: $textfont;
  font-size: 16px;
  color: $primarycolor;
  img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-right: 5px;
  }
  }

  .ratig {
      img {
        width: 20px;
        height: 20px;
        object-fit: contain;
        margin-top: 0px;
      }
  }

  .gallery-img {
    width: 170px;
    height: 170px;
    border-radius: 20px;
  }

  .hr-review {
    margin-left: -15px;
  }

  .card-more {
    width: 373px;
    height: 268px;
    border-radius: 20px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #edefed;
    padding: 30px;
    h2 {
        opacity: 0.89;
        font-family: $headingfont;
        font-size: 20px;
        font-weight: bold;
        color: $primarycolor;
    }
    p {
        opacity: 0.89;
        font-family: $textfont;
        font-size: 14px;
        line-height: 3;
        color: $primarycolor;
        padding-top: 10px;
    }
  } 



  /* Login Signup page css */

  .form-group {
     
      label {
        opacity: 0.89;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: bold;
        color: #1d1d1d;
        margin-left: 20px;
      }
      .form-control {
        height: 45px !important;
        border-radius: 30px !important;
        border: solid 2px #8ad1dc !important;
        padding-top: 5px !important;
        padding-left: 38px !important;
    }
  }



  /* Blog Page page css */

.blog {
    padding-top: 90px;
    padding-bottom: 50px;
}

  .blog-img {
    width: 100%;
    height: 50% !important;
  }

  .blog-box {
    width: 340px;
    height: 336px;
    border-radius: 20px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    a {
        font-family: $headingfont;
        font-size: 20px;
        font-weight: bold;
        color: $primarycolor;
        text-decoration: none;
        :hover {
            text-decoration: none;;
        }
    }
    p {
        font-family: $textfont;
        font-size: 14px;
        color: $primarycolor;
    }
    .blog-body {
        padding-top: 35px;
        padding-left: 20px;
    }

}
.blog-detail {
    padding-bottom: 90px;
}
.related-box {
    border: 1px solid #d1d1d1;
    font-family: $textfont;
    font-size: 14px;
    color: $primarycolor;
    margin-left: 16px;
    margin-top: 4px;
}
.related {
    margin-top: 12px;
    h5 {
        font-family: $headingfont;
        font-size: 20px;
        font-weight: bold;
        color: $primarycolor;
    }
    a:hover {
        text-decoration: none;
    }
}


.blog-header {
    background: url('../images/home/blog-header.svg')no-repeat; position: relative; background-size: cover;
    background-position: center; 
    height: 410px;
}
.featured-img {
    width: 550px;
    height: 360px;
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.1);
}

.featured-body {
    width: 534px;
    height: 360px;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.1);
    margin-left: -20px;
    padding-left: 25px;
    padding-top: 120px;
    background-color: #ffffff;
    p {
        opacity: 0.89;
        font-family: $textfont;
        font-size: 14px;
        color: $primarycolor;
    }
    h2 {
        font-family: $headingfont;
        font-size: 32px;
        font-weight: bold;
        color: $primarycolor;
    }
}

.featured-blog {
    margin-top: -180px;
}

.blog-post {
    p {
        font-family: $textfont;
        font-size: 14px;
        color: #ffffff;
        margin-top: -106px;
    }
    a {
        font-family: $headingfont;
        font-size: 20px;
        font-weight: bold;
        color: #ffffff;
        margin-top: -80px;
        position: absolute;
            }
            img {
                border-radius: 20px;
            }
}

/* Rating css */


.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate > input:checked ~ label {
    color: #8ad1dc;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color:#8ad1dc;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #8ad1dc;
}

.rev-btn {
    width: 164px;
    height: 60px;
    border-radius: 30px;
    background-color: #8ad1dc;
    border-color: #8ad1dc;
    font-family: $textfont;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    color: $primarycolor;
    padding-top: 20px;
  }

  .owl-nav i {
    font-size: 52px;
    display: none !important;
}

/* Classes css */

.class-btn {
    border: 1px solid #8ad1dc !important;
    width: -webkit-fill-available !important;
    font-family: Montserrat;
    font-size: 16px;
    color: #1d1d1d;
    border-radius: 20px !important;
    margin-top: 20px;
}

.class-menu.show {
    display: block;
    min-width: -webkit-fill-available;
    border-radius: 20px;
}

.dates-btn {
    border: 1px solid #8ad1dc !important;
    width: -webkit-fill-available !important;
    font-family: Montserrat;
    font-size: 16px;
    color: #1d1d1d;
    border-radius: 20px !important;
    margin-top: 20px;
}

.dates-menu.show {
    display: block;
    min-width: -webkit-fill-available;
    border-radius: 20px;
}

.result-date {
    background-color: #f7f7f7;
    padding: 4px 10;
    margin-top: 30px;
}


.join-btn {
    border: 1px solid #8ad1dc !important;
    width: -webkit-fill-available !important;
    font-family: Montserrat;
    font-size: 16px;
    color: #8ad1dc;
    border-radius: 20px !important;
    margin-top: 20px;
    background: transparent;
}