@charset "UTF-8";
/* nav css */
.menu {
  height: 115px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 20px;
}

.nav-link {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #1d1d1d !important;
  margin-top: 10px;
  margin-right: 10px;
}

.navbar-nav {
  margin-left: 30px;
}

.navbar-nav .nav-link {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #1d1d1d !important;
  margin-top: 10px;
  margin-right: 10px;
}

.join {
  width: 164px;
  height: 60px;
  border-radius: 30px;
  background-color: #8ad1dc;
  border-color: #8ad1dc;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #1d1d1d;
}

/* Home Page css */
.page-header {
  background: url("../images/home/hero.png") no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 633px;
  padding-top: 120px;
}

.page-header h2 {
  width: 350px;
  font-family: Montserrat Alternates;
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
}

.page-header p {
  font-family: Montserrat;
  font-size: 16px;
  color: #ffffff;
  padding-top: 10px;
}

.page-header button {
  width: 311px;
  height: 60px;
  border-radius: 30px;
  background-color: #8ad1dc;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  color: #1d1d1d;
  margin-top: 30px;
}

/* blurb section css */
.blurb-box {
  margin-top: -190px;
}

.card {
  width: 343px;
  height: 300px;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: none !important;
}

.card .card-imgs {
  width: 343px;
}

.card h2 {
  font-family: Montserrat Alternates;
  font-size: 20px;
  font-weight: bold;
  color: #1d1d1d;
}

.card p {
  font-family: Montserrat;
  font-size: 14px;
  color: #1d1d1d;
  padding-top: 10px;
}

.card .card-body {
  padding-top: 40px;
  padding-left: 35px;
}

/* moova choice section CSS */
.moova-choice {
  padding-top: 90px;
  padding-bottom: 90px;
}

.section-heading h2 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 10.5px;
  color: #1d1d1d;
  text-align: center;
}

.section-heading p {
  font-family: Montserrat;
  font-size: 16px;
  text-align: center;
  color: #1d1d1d;
  padding-top: 30px;
}

.card-choice {
  width: 530px;
  height: 224px;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin-top: 30px;
}

.choice-dec {
  margin-left: 66px;
  padding-top: 20px;
}

.choice-dec h2 {
  padding-top: 20px;
  font-family: Montserrat Alternates;
  font-size: 20px;
  font-weight: bold;
  color: #1d1d1d;
}

.choice-dec p {
  font-family: Montserrat;
  font-size: 14px;
  color: #1d1d1d;
  padding-top: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.choice-dec span {
  font-family: Montserrat;
  font-size: 10px;
  color: #1d1d1d;
  margin-left: 10px;
}

.color-box {
  width: 239px;
  height: 36px;
  border-radius: 18px;
  background-color: #8ad1dc;
}

.color-box h5 {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 5.25px;
  color: #ffffff;
  padding-top: 12px;
  margin-left: 12px;
}

.color-box img {
  margin-top: -1px;
}

.all-studio {
  text-align: center;
  margin-top: 70px;
}

.all-studio a {
  width: 278px;
  height: 60px;
  border-radius: 30px;
  background-color: #8ad1dc;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #1d1d1d;
  padding-top: 20px;
}

/* heading seo Section CSS */
.heading-seo {
  height: 469px;
  background-color: #edefed;
}

.heading-seo .seo-box {
  padding-top: 120px;
}

.heading-seo h2 {
  font-family: Montserrat Alternates;
  font-size: 24px;
  font-weight: bold;
  color: #1d1d1d;
}

.heading-seo p {
  width: 373px;
  font-family: Montserrat;
  font-size: 16px;
  color: #1d1d1d;
  padding-top: 10px;
}

.bg-img {
  background: url("../images/home/bg.svg") no-repeat;
  float: right;
  left: 672px;
  position: absolute;
}

.bg-img img {
  margin-top: -96px;
  margin-left: 90px;
}

/* Work Section Css */
.works {
  padding-top: 90px;
  padding-bottom: 90px;
}

.work-box {
  text-align: center;
  padding-top: 50px;
}

.work-box .work-img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: #eddbe6;
  margin-left: 133px;
  margin-bottom: 20px;
}

.work-box img {
  padding-top: 15px;
  width: auto !important;
}

.work-box h2 {
  font-family: Montserrat Alternates;
  font-size: 24px;
  font-weight: bold;
  color: #1d1d1d;
}

.work-box p {
  font-family: Montserrat;
  font-size: 16px;
  color: #1d1d1d;
}

/* Fitness Tips Section css */
.fitness {
  height: 810px;
  background-color: #edefed;
  padding-top: 90px;
}

#owl-demo .item {
  margin: 3px;
}

#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}

.carousel-wrap {
  margin: 30px auto;
  padding: 0 5%;
  width: 100%;
  position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  width: 94%;
  position: relative;
  z-index: 100;
  -webkit-backface-visibility: hidden;
}

/* end fix */
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
}

.item p {
  font-family: Montserrat;
  font-size: 14px;
  color: #ffffff;
  margin-top: -95px;
  position: absolute;
  padding-left: 20px;
}

.item span {
  margin-left: 150px;
}

.item h2 {
  font-family: Montserrat Alternates;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin-top: -65px;
  position: absolute;
  padding-left: 20px;
}

.item a {
  font-family: Montserrat Alternates;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin-top: -65px;
  position: absolute;
  padding-left: 20px;
}

.item a:hover {
  text-decoration: none !important;
}

/*  FEATURED TRAINERS CSS */
.trainer {
  padding-top: 90px;
  padding-bottom: 50px;
}

/*Owl Carosal Start */
.col-md-4 {
  display: inline-block;
  margin-left: -4px;
}

.col-md-4 img {
  width: 100%;
  height: auto;
}

/*Owl Carosal End */
.trainer-card {
  width: 337px;
  height: 187px;
  border-radius: 40px 40px 0px 0px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  margin-top: 100px;
  margin-bottom: 90px;
}

.trainer-card img {
  width: 120px;
  height: 120px;
  text-align: center;
  margin-top: -68px;
}

.trainer-card h2 {
  font-family: Montserrat Alternates;
  font-size: 20px;
  font-weight: bold;
  color: #1d1d1d;
  margin-top: 30px;
}

.trainer-card p {
  font-family: Montserrat;
  font-size: 14px;
  color: Montserrat;
  margin-top: 20px;
}

.trainer-card .trainer-footer {
  background-image: -webkit-gradient(linear, left top, right top, from(#eddbe6), to(#8ad1dc));
  background-image: linear-gradient(to right, #eddbe6, #8ad1dc);
  border-radius: 0px 0px 60px 60px;
  margin-top: 35px;
}

.trainer-card .trainer-footer img {
  width: 20px;
  height: 50px;
  margin-top: -1px;
}

.icon-box {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  background: #ffff;
}

.icon-box img {
  padding-top: 17px;
}

.icon-boxtwo {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  background: #ffff;
}

.icon-boxtwo img {
  padding-top: 14px;
}

.carousel-control-prev {
  width: 5% !important;
  opacity: inherit;
}

.carousel-control-next {
  width: 5% !important;
  opacity: inherit;
}

/*  Review CSS */
.review {
  height: 556px;
  background-color: #f5f5e8 !important;
  padding-top: 90px;
  position: relative;
  background-size: auto;
  background-position: bottom;
  background: url("../images/home/patren.svg") no-repeat;
  background-position: 60px 339px, -50px -104px, left bottom;
}

.review .review-card {
  width: 530px;
  height: 237px;
  border-radius: 40px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin-top: 90px;
}

.review .review-card img {
  width: 120px;
  height: 120px;
  margin-top: -62px;
  margin-bottom: 30px;
}

.review .review-card p {
  font-family: Montserrat;
  font-size: 14px;
  color: #1d1d1d;
  padding-left: 35px;
  padding-right: 35px;
}

.review .review-card h2 {
  font-family: Montserrat Alternates;
  font-size: 20px;
  font-weight: bold;
  color: #1d1d1d;
}

.review .review-card .star {
  width: 19.9px;
  height: 19.1px;
  margin-top: 5px;
}

.mbl-hide {
  display: block;
}

.desk-hide {
  display: none;
}

/* Pricing Page Css */
.section-heading h4 {
  width: 580px;
  height: 60px;
  border-radius: 20px;
  background-color: #dbedde;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #1d1d1d;
  padding-top: 20px;
  margin-left: 268px;
  margin-top: 30px;
}

.price {
  padding-bottom: 50px;
}

.togl-button {
  width: 148px;
  height: 60px;
  border-radius: 20px;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show > .btn-outline-secondary.dropdown-toggle {
  color: #1d1d1d;
  border-color: #8ad1dc;
  background-color: #8ad1dc;
}

.btn-outline-secondary:hover {
  color: #1d1d1d;
  border-color: #8ad1dc;
  background-color: #8ad1dc;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  display: contents;
}

.btn-group label {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #1d1d1d;
  padding-top: 20px;
}

.price-note {
  padding-top: 20px;
  padding-bottom: 30px;
}

.price-note p {
  font-family: Montserrat;
  font-size: 12px;
  color: #1d1d1d;
}

.card-price {
  width: 250px;
  height: 870px;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin-left: -15px;
}

.card-lable {
  width: 250px;
  height: 40px;
  background-color: #eddbe6;
  padding-top: 12px;
  border-radius: 15px 18px 0px 0px;
}

.card-lable p {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
  color: #1d1d1d;
}

.card-offer {
  width: 306px;
  height: 40px;
  background-color: #eddbe6;
  padding-top: 12px;
  border-radius: 0px 0px 0px 0px;
}

.card-offer p {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
  color: #1d1d1d;
}

.card-img {
  background: url("../images/price.jpg") no-repeat;
  width: 250px;
  height: 190px;
  background-color: #1d1d1d;
}

.card-img h2 {
  font-family: Montserrat Alternates;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  padding-top: 10px;
}

.card-img h3 {
  font-family: Montserrat Alternates;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  padding-top: 3px;
}

.card-img h6 {
  font-family: Montserrat;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  padding-top: 3px;
}

.card-imgyear {
  background: url("../images/price.jpg") no-repeat;
  width: 250px;
  height: 190px;
  background-color: #1d1d1d;
}

.card-imgyear h2 {
  font-family: Montserrat Alternates;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  padding-top: 10px;
}

.card-imgyear h3 {
  font-family: Montserrat Alternates;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  padding-top: 3px;
}

.card-imgyear h6 {
  font-family: Montserrat;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  padding-top: 3px;
}

.card-imgyear .circle {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #d8d8d8;
  top: 10% !important;
  left: 39%;
  position: relative;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #d8d8d8;
  top: 12%;
  left: 39%;
  position: relative;
}

.card-note {
  height: 86px;
  background-color: #edefed;
}

.card-note p {
  font-family: Montserrat;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #1d1d1d;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.card-body {
  padding-top: 30px;
}

.card-body p {
  text-align: left;
}

.card-body span {
  font-family: Montserrat;
  font-size: 14px;
  color: #1d1d1d;
  margin-left: 20px;
  text-align: left;
}

.card-body .mn {
  margin-left: 48px;
}

.pricing-btn {
  width: 147px;
  height: 60px;
  border-radius: 30px;
  background-color: #8ad1dc;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #1d1d1d;
  padding-top: 20px;
  margin-top: 20px;
}

.card-pricetwo {
  width: 250px;
  height: 1180px;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin-left: -15px;
}

.card-pricetwo .card-img {
  height: 231px;
  border-radius: 20px 20px 0px 0px;
}

.card-pricetwo .card-img h2 {
  padding-top: 50px;
}

.card-pricetwo .circle {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #d8d8d8;
  top: 25%;
  left: 39%;
  position: relative;
}

.card-pricetwo .addition {
  border-bottom: 1px solid;
  height: 40px;
  border-color: lightgray;
}

.card-pricetwo .addition p {
  font-family: Montserrat;
  font-size: 12px;
  color: #1d1d1d;
  padding-top: 10px;
}

.card-pricethree {
  width: 314px;
  height: 1000px;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin-left: -35px;
  border: 4px solid !important;
  border-color: #8ad1dc !important;
}

.card-pricethree .card-lable {
  background-color: #8ad1dc;
  width: 310px;
}

.card-pricethree .card-img {
  width: 306px;
}

.card-pricethree .circle {
  background-color: #ffffff;
}

.card-pricethree .addition {
  border-bottom: 1px solid;
  height: 40px;
  border-color: lightgray;
}

.card-pricethree .addition p {
  font-family: Montserrat;
  font-size: 12px;
  color: #1d1d1d;
  padding-top: 10px;
}

.card-pricefour {
  width: 250px;
  height: 1070px;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin-left: 9px;
}

.card-pricefour .card-img {
  height: 231px;
  border-radius: 20px 20px 0px 0px;
}

.card-pricefour .card-img h2 {
  padding-top: 50px;
}

.card-pricefour .circle {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #d8d8d8;
  top: 25%;
  left: 39%;
  position: relative;
}

.card-pricefour .addition {
  border-bottom: 1px solid;
  height: 40px;
  border-color: lightgray;
}

.card-pricefour .addition p {
  font-family: Montserrat;
  font-size: 12px;
  color: #1d1d1d;
  padding-top: 10px;
}

.pricing5 .yearly {
  display: none;
}

/* gyms Page css */
.tabs {
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 1085px;
}

.tabs p a {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #1d1d1d;
  text-align: center;
}

.tab-result .circle {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #d8d8d8;
  top: 12%;
  left: 30%;
  position: relative;
}

.tab-result h2 {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  color: #1d1d1d;
  padding-top: 15px;
}

.content {
  width: 100%;
  margin-left: 97px;
  padding-bottom: 30px;
  padding-top: 20px;
}

a:hover {
  text-decoration: none !important;
}

.gym-collection {
  padding-bottom: 90px;
}

.collection-box {
  width: 340px;
  height: 336px;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.collection-box h2 {
  font-family: Montserrat Alternates;
  font-size: 20px;
  font-weight: bold;
  color: #1d1d1d;
}

.collection-box p {
  font-family: Montserrat;
  font-size: 14px;
  color: #1d1d1d;
}

.collection-box .star {
  width: auto;
}

.collection-box span {
  font-family: Montserrat;
  font-size: 10px;
  color: #1d1d1d;
  margin-left: 10px;
}

.collection-box .collection-body {
  padding-top: 35px;
  padding-left: 30px;
}

/* Footer Css */
.footer {
  height: 440px;
  background-color: #1d1d1d !important;
  padding-top: 90px;
  background: url("../images/home/footer-patren.png") no-repeat;
  position: relative;
  background-size: auto;
  background-position: left;
  background-position: -682px;
}

.footer .footer-box h2 {
  font-family: Montserrat Alternates;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.footer .footer-box p {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 2.71;
  color: #d8d8d8;
}

.footer .footer-box span {
  font-family: Montserrat;
  font-size: 10px;
  line-height: 1.71;
  color: #d8d8d8;
}

.footer .footer-box img {
  margin-right: 25px;
}

/* home Mobile View Css */
@media only screen and (max-width: 600px) {
  .mbl-hide {
    display: none;
  }
  .desk-hide {
    display: block;
  }
  .menu {
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar-toggler-icon {
    width: 1.0em;
    height: 1.0em;
  }
  .header-logo {
    width: 100px;
    height: 18px;
    margin-left: 87px;
  }
  .collapse.show {
    display: block;
    z-index: 1;
    background-color: #fff;
    padding-left: 30px;
    padding-bottom: 30px;
  }
  .page-header h2 {
    font-size: 26px;
    text-align: center;
  }
  .page-header p {
    font-size: 14px;
    line-height: 2;
    text-align: center;
  }
  .page-header button {
    width: 262px;
    font-size: 10px;
    margin-top: 20px;
    letter-spacing: 2px;
    margin-left: 42px;
  }
  .page-header {
    background: url(../images/home/mbl-hero.png) no-repeat;
    position: relative;
    background-size: cover;
    background-position: unset;
    height: 480px;
    padding-top: 92px;
  }
  .card-cta {
    width: 345px;
    height: 100px;
    border-radius: 20px;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-bottom: 15px;
  }
  .card-cta img {
    width: 100px;
    height: 100px;
  }
  .card-cta h2 {
    font-family: Montserrat Alternates;
    font-size: 18px;
    font-weight: bold;
    color: #1d1d1d;
  }
  .card-cta p {
    font-family: Montserrat;
    font-size: 12px;
    color: #1d1d1d;
  }
  .card-cta .cta-body {
    margin-top: 25px;
    margin-left: -5px;
  }
  .blurb-box {
    margin-top: -60px;
  }
  .section-heading h2 {
    font-size: 16px;
    letter-spacing: 6.91px;
  }
  .section-heading img {
    width: 35px;
    height: 18px;
  }
  .section-heading p {
    font-size: 14px;
    padding-top: 20px;
  }
  .mbl-choice {
    width: 279px;
    height: 335px;
    border-radius: 20px;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  .mbl-choice img {
    width: 279px;
    height: 162px;
  }
  .mbl-choice .mblchoice-dec {
    padding: 20px;
  }
  .mbl-choice .mblchoice-dec .bg-box {
    width: 208.6px;
    height: 31.4px;
    border-radius: 15.7px;
    background-color: #8ad1dc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 9px;
    padding-left: 5px;
  }
  .mbl-choice .mblchoice-dec .bg-box h5 {
    font-family: Montserrat;
    font-size: 10.5px;
    font-weight: bold;
    letter-spacing: 4.58px;
    color: #ffffff;
    padding-left: 5px;
  }
  .mbl-choice .mblchoice-dec .bg-box img {
    width: 23px;
    height: 12px;
  }
  .mbl-choice .mblchoice-dec h3 {
    font-family: Montserrat Alternates;
    font-size: 18px;
    font-weight: bold;
    color: #1d1d1d;
    margin-top: 15px;
  }
  .mbl-choice .mblchoice-dec p {
    font-family: Montserrat;
    font-size: 12px;
    color: #1d1d1d;
    margin-top: 0px;
    padding-left: 0px;
  }
  .mbl-choice .mblchoice-dec .star-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 19.9px;
    height: 19.1px;
    margin-top: -38px;
  }
  .mobile-carousel .active {
    width: 283px !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    margin-bottom: 20px !important;
  }
  .heading-seo .seo-box {
    padding-top: 42px;
  }
  .heading-seo h2 {
    font-size: 20px;
    text-align: center;
  }
  .heading-seo p {
    font-size: 14px;
    line-height: 2;
    text-align: center;
    padding-right: 40px;
    padding-left: 20px;
  }
  .bg-img {
    background: url(../images/home/mbl-bg.svg) no-repeat;
    float: right;
    left: 31px;
    margin-top: 247px;
  }
  .bg-img img {
    margin-top: -53px;
    margin-left: 90px;
    width: 131px;
    height: 320px;
  }
  .work-box h2 {
    font-size: 20px;
  }
  .work-box p {
    font-size: 14px;
  }
  .item span {
    margin-left: 93px;
  }
  .carousel-wrap {
    margin-left: 10px;
  }
  .owl-carousel .post img {
    width: 98% !important;
  }
  .trainer-card {
    width: 280px;
    margin-left: 17px;
    height: 160px;
  }
  .trainer-card .trainer-profile {
    width: 100px !important;
    height: 100px;
    border-radius: 50px;
    top: -38px;
    margin-left: 94px;
    position: relative;
    margin-top: -49px;
  }
  .trainer-card h2 {
    font-size: 18px;
    margin-top: -19px;
    margin-left: 80px;
  }
  .trainer-card p {
    font-family: Montserrat;
    font-size: 12px;
    color: #1d1d1d;
    margin-top: 11px;
    margin-left: 80px;
  }
  .trainer-card .trainer-footer {
    margin-top: 50px;
  }
  .trainer-card .trainer-footer img {
    display: inline;
  }
  .review {
    background: url(../images/home/review-bg.svg) no-repeat;
    background-position: -76px 656px, -50px -104px, left bottom;
    padding-top: 50px;
    height: 811px;
  }
  .review .review-card {
    width: 341px;
  }
  .review .review-card p {
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.67;
    margin-top: -10px;
  }
  .review .review-card h2 {
    font-size: 18px;
  }
  .mbl-footer {
    height: 700px;
    background-color: #1d1d1d;
    padding-top: 50px;
    padding-bottom: 90px;
  }
  .accordion .card-header:after {
    font-family: 'FontAwesome';
    content: "\f068";
    float: right;
  }
  .accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067";
  }
  .card-header {
    padding: 1.75rem 1.25rem;
    color: #fff;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: lightgrey;
    border-radius: 0px !important;
  }
  .card-header .card-title {
    font-family: Montserrat Alternates;
    font-size: 18px;
    font-weight: bold;
  }
  .footer-card .collapse.show {
    display: block;
    z-index: 1;
    background-color: #1d1d1d;
    padding-left: 30px;
    padding-bottom: 30px;
    color: #ffffff;
    line-height: 2.71;
    font-family: Montserrat;
  }
  .footer-box {
    border-bottom: 1px solid;
    border-color: lightgrey;
    width: 109%;
    margin-left: -13px;
    padding-bottom: 30px;
  }
  .footer-box h2 {
    font-family: Montserrat Alternates;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 22px;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .footer-box img {
    margin-right: 10px;
    margin-left: 22px;
  }
  .footer-box span {
    font-family: Montserrat;
    font-size: 10px;
    color: #d8d8d8;
  }
  .footerlast-box h2 {
    font-family: Montserrat Alternates;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 10px;
    padding-top: 30px;
  }
  .footerlast-box span {
    font-family: Montserrat;
    font-size: 10px;
    color: #d8d8d8;
    margin-left: 10px;
  }
  .owl-nav {
    display: none;
  }
  /* Join Us Mobile View Css */
  .join-body {
    width: 328px !important;
    margin-left: 6% !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .join-body h2 {
    font-size: 26px !important;
  }
  .email-box h3 {
    font-size: 10px !important;
  }
  .google-box h3 img {
    height: 19.7px !important;
    margin-left: 0px !important;
  }
  .google-box h3 span {
    font-size: 10px !important;
    margin-left: 6px !important;
  }
  .facebook-box h3 img {
    height: 19.7px !important;
    margin-left: -13px !important;
  }
  .facebook-box h3 span {
    font-size: 10px !important;
    margin-left: 5px !important;
  }
  .join-body p {
    font-size: 12px !important;
  }
  .join-body h5 {
    font-size: 12px !important;
  }
  .partner-card {
    width: 328px !important;
    margin-left: 6% !important;
  }
  .partner-card h2 {
    font-size: 18px !important;
  }
  .partner-card p {
    font-size: 12px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  /* Explore Mobile View Css */
  .sports-box img {
    height: 184px;
    width: 348px  !important;
  }
  /* Gyms Mobile View Css */
  .tabs {
    padding-top: 13px;
    width: auto;
  }
  .content {
    margin-left: -14px;
  }
  .collection-box {
    width: 335px;
    height: 300px;
    margin-top: 30px;
    margin-left: 8px;
  }
  .tab-result h2 {
    margin-left: 17px !important;
  }
  .blog-box {
    margin-bottom: 30px !important;
    margin-left: 6px !important;
  }
  /* Inner Gym Mobile View Css */
  .inner-header {
    background: url(../images/inner-gym/hero-mbl.png) no-repeat !important;
    position: relative;
    background-size: cover;
    height: 420px !important;
  }
  .card-section .card-block {
    width: 345px !important;
    margin-left: 0px !important;
    height: 274px !important;
  }
  .card-section .card-block h2 {
    font-size: 26px !important;
  }
  .card-section .card-block p {
    font-size: 14px !important;
  }
  .join {
    font-size: 10px !important;
  }
  .discription-section h2 {
    font-size: 18px !important;
  }
  .discription-section p {
    font-size: 12px !important;
  }
  .discription-section h3 {
    font-size: 18px !important;
    margin-top: 30px !important;
  }
  .discription-section .card-staff {
    margin-bottom: 12px !important;
  }
  .card-map {
    width: 352px !important;
    margin-top: 40px !important;
  }
  .amenities {
    width: 352px !important;
  }
  .card-social {
    width: 352px !important;
  }
  .spc {
    margin-top: 0px !important;
  }
  /* Trainer Detail Mobile View Css */
  .trainer-header {
    background: url(../images/trainer-detail/trainer-hero.png) no-repeat !important;
    position: relative;
    background-size: cover;
    height: 440px !important;
  }
  .card-trainer {
    width: 345px !important;
    margin-left: 0px !important;
    height: 288px !important;
  }
  .card-trainer img {
    width: 80px !important;
    height: 80px !important;
    margin-top: -90px !important;
  }
  .card-trainer h2 {
    margin-top: 0px !important;
    font-size: 26px !important;
  }
  .trainer-dec {
    font-size: 14px !important;
  }
  .ratig img {
    width: 16px !important;
    height: 15px !important;
    margin-top: 0px !important;
  }
  .trainer-dec img {
    width: 16px !important;
    height: 16px !important;
    margin-right: 5px !important;
    margin-top: 0px !important;
  }
  .gallery-img {
    width: 157px !important;
    height: 157px !important;
    border-radius: 20px !important;
    margin-left: 16px !important;
    margin-bottom: 21px !important;
  }
  .revw-sec {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  .card-more {
    width: 350px !important;
  }
  .dark {
    font-weight: bold !important;
  }
  /* About Page Mobile View Css */
  .about-info {
    padding-top: 35px !important;
    text-align: center !important;
  }
  .about-info p {
    font-size: 12px !important;
    width: auto !important;
  }
  .about-info h2 {
    font-size: 20px !important;
  }
  .about-img img {
    width: 344px !important;
    height: 290px !important;
  }
  /* Price Page Mobile View Css */
  .card-lable p {
    margin-top: 0px;
    position: initial;
    padding-left: 0px;
  }
  .circle {
    margin-top: 0px !important;
    padding-left: 0px !important;
    position: relative !important;
  }
  .card-img h2 {
    margin-top: 0px !important;
    position: initial !important;
    padding-left: 0px !important;
    color: #1d1d1d !important;
  }
  .card-img h3 {
    color: #1d1d1d !important;
  }
  .card-img h6 {
    color: #1d1d1d !important;
  }
  .card-imgyear h2 {
    margin-top: 0px !important;
    position: initial !important;
    padding-left: 0px !important;
    color: #1d1d1d !important;
  }
  .card-imgyear h3 {
    color: #1d1d1d !important;
  }
  .card-imgyear h6 {
    color: #1d1d1d !important;
  }
  .card-note p {
    margin-top: 0px;
    position: initial;
  }
  .card-body p {
    text-align: left;
    margin-top: 0px;
    position: initial;
    padding-left: 0px;
  }
  .card-body span {
    margin-left: 20px !important;
  }
  .card-body img {
    display: inline !important;
    width: 10% !important;
  }
  .card-body .mn {
    margin-left: 48px !important;
  }
  .addition p {
    margin-top: 0px !important;
    padding-left: 60px !important;
  }
  .card-price {
    margin-left: 20px !important;
  }
  .card-pricetwo {
    margin-left: 20px !important;
  }
  .carousel-wrap {
    padding: 0% !important;
    width: 102% !important;
  }
  .card-pricethree {
    margin-left: 12px !important;
    width: 300px !important;
  }
  .card-pricethree .card-lable {
    background-color: #8ad1dc;
    width: 295px !important;
  }
  .card-pricethree .card-img {
    width: 292px !important;
  }
  .card-pricethree .addition p {
    padding-left: 97px !important;
  }
  .btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show > .btn-outline-secondary.dropdown-toggle {
    color: #1d1d1d;
    border-color: #f5f5e8 !important;
    background-color: #f5f5e8 !important;
  }
  .btn-outline-secondary:hover {
    color: #1d1d1d;
    border-color: #f5f5e8 !important;
    background-color: #f5f5e8 !important;
  }
  .btn-outline-secondary {
    border-color: #f5f5e8 !important;
  }
  .card-img {
    background: none !important;
    background-color: #ffffff !important;
  }
  .card-imgyear {
    background: none !important;
    background-color: #ffffff !important;
  }
  .card-imgyear .circle {
    top: 7% !important;
  }
  .card-pricethree .circle {
    background-color: #d8d8d8;
    margin-left: 6px;
  }
  .card-offer p {
    margin-top: 0px !important;
    position: initial;
    padding-left: 0px !important;
  }
  .card-offer {
    width: 292px !important;
  }
  /* Blog Page Mobile View Css */
  .featured-img {
    width: 345px !important;
    height: 210px !important;
    border-radius: 20px 20px 0px 0px !important;
  }
  .featured-body {
    width: 345px !important;
    height: 250px !important;
    border-radius: 0px 0px 20px 20px !important;
    padding-top: 53px !important;
    margin-left: 0px !important;
  }
  .featured-body h2 {
    font-size: 26px !important;
    padding-right: 30px;
  }
}

/* How it works Page Css */
.how-work {
  height: 500px;
  padding-top: 90px;
}

/* Explore Page Css */
.explore {
  padding-top: 90px;
  padding-bottom: 110px;
}

.explore-boxs {
  margin-top: -30px;
}

.sports-box {
  margin-top: 70px;
}

.sports-box img {
  width: 529px;
}

.sports-box h2 {
  font-family: Montserrat Alternates;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin-top: -60px;
  padding-left: 30px;
}

/* About Page Css */
.about-header {
  padding-top: 90px;
  padding-bottom: 20px;
}

.about-detail {
  padding-bottom: 90px;
}

.about-info {
  padding-top: 110px;
}

.about-info h2 {
  font-family: Montserrat Alternates;
  font-size: 24px;
  font-weight: bold;
  color: #1d1d1d;
}

.about-info p {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 2;
  color: #1d1d1d;
  width: 500px;
}

.about-img img {
  width: 500px;
  height: 390px;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}

/* join Us Page css */
.join-card {
  padding-bottom: 90px;
}

.join-body {
  width: 580px;
  height: 443px;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin-left: 26%;
  margin-top: 2%;
  padding-top: 30px;
  padding-left: 90px;
  padding-right: 100px;
}

.join-body h2 {
  font-family: Montserrat Alternates;
  font-size: 32px;
  font-weight: bold;
  color: #1d1d1d;
}

.join-body .email-box {
  height: 60px;
  border-radius: 30px;
  background-color: #8ad1dc;
  margin-top: 40px;
}

.join-body .email-box h3 {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #1d1d1d;
  padding-top: 23px;
}

.join-body .google-box {
  height: 60px;
  border-radius: 30px;
  border: solid 2px #8ad1dc;
  padding-top: 5px;
  margin-top: 20px;
}

.join-body .google-box h3 img {
  height: 29.7px;
  margin-left: -62px;
  margin-top: 3px;
}

.join-body .google-box h3 span {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #1d1d1d;
  margin-left: 33px;
}

.join-body .facebook-box {
  height: 60px;
  border-radius: 30px;
  border: solid 2px #8ad1dc;
  padding-top: 5px;
  margin-top: 20px;
}

.join-body .facebook-box h3 img {
  height: 29.7px;
  margin-left: -56px;
  margin-top: 3px;
}

.join-body .facebook-box h3 span {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #1d1d1d;
  margin-left: 17px;
}

.join-body p {
  opacity: 0.89;
  font-family: Montserrat;
  font-size: 14px;
  color: #1d1d1d;
  margin-top: 30px;
}

.join-body h5 {
  opacity: 0.89;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  color: #1d1d1d;
}

.partner-card {
  width: 580px;
  height: 130px;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin-left: 26%;
  margin-top: 4%;
  padding-top: 30px;
}

.partner-card h2 {
  font-family: Montserrat Alternates;
  font-size: 20px;
  font-weight: bold;
  color: #1d1d1d;
}

.partner-card p {
  opacity: 0.89;
  font-family: Montserrat;
  font-size: 14px;
  color: #1d1d1d;
  padding-top: 10px;
}

.partner-card u {
  font-weight: bold;
}

/* inner gym page css  */
.inner-header {
  background: url("../images/inner-gym/hero.png") no-repeat;
  position: relative;
  background-size: cover;
  height: 574px;
}

.card-section {
  position: relative;
  bottom: 60px;
}

.card-section .card-block {
  width: 580px;
  height: 267px;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 32px;
  margin-left: 240px;
  margin-top: -76px;
}

.card-section .card-block h2 {
  font-family: Montserrat Alternates;
  font-size: 32px;
  font-weight: bold;
  color: #1d1d1d;
}

.card-section .card-block p {
  font-family: Montserrat;
  font-size: 16px;
  color: #1d1d1d;
  padding-top: 10px;
}

.card-section .card-block span {
  font-family: Montserrat;
  font-size: 10px;
  color: #1d1d1d;
  margin-left: 10px;
}

.discription-section {
  padding-bottom: 80px;
}

.discription-section h2 {
  font-family: Montserrat Alternates;
  font-size: 20px;
  font-weight: bold;
  color: #1d1d1d;
}

.discription-section p {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 2;
  color: #1d1d1d;
}

.discription-section h3 {
  font-family: Montserrat Alternates;
  font-size: 20px;
  font-weight: bold;
  color: #1d1d1d;
}

.discription-section .card-staff {
  width: 328px;
  height: 80px;
  border-radius: 40px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.discription-section .card-staff img {
  width: 80px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 40px;
}

.discription-section .card-staff h5 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  color: #1d1d1d;
  margin-left: 15px;
}

.discription-section .card-staff p {
  font-family: Montserrat;
  font-size: 14px;
  color: #1d1d1d;
  margin-left: 15px;
}

.spc {
  margin-top: 30px;
}

.card-map {
  background: url("../images/inner-gym/google-maps-759.jpg") no-repeat;
  position: relative;
  background-size: cover;
  width: 373px;
  height: 240px;
  border-radius: 20px;
}

.card-map h2 {
  font-family: Montserrat Alternates;
  font-size: 20px;
  font-weight: bold;
  color: #1d1d1d;
  padding: 30px;
}

.amenities {
  width: 373px;
  height: 168px;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #edefed;
}

.amenities h2 {
  font-family: Montserrat Alternates;
  font-size: 20px;
  font-weight: bold;
  color: #1d1d1d;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 20px;
  text-align: left;
}

.icon-title {
  font-family: Montserrat;
  font-size: 10px;
  line-height: 2.4;
  text-align: center;
  color: #1d1d1d;
}

.card-social {
  width: 373px;
  height: 129px;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #edefed;
}

.card-social h2 {
  font-family: Montserrat Alternates;
  font-size: 20px;
  font-weight: bold;
  color: #1d1d1d;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 20px;
}

.card-social img {
  width: 20.9px;
  height: 20.9px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 30px;
}

/* Trainer Detail Page Css */
.trainer-header {
  background: url("../images/trainer-detail/60DA967F-D0E7-4CC2-9553-C211B07514F9.png") no-repeat;
  position: relative;
  background-size: cover;
  height: 574px;
}

.card-trainer {
  width: 580px;
  height: 327px;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 32px;
  margin-left: 240px;
  margin-top: -76px;
}

.card-trainer img {
  width: 160px;
  height: 160px;
  border-radius: 100px;
  margin-top: -120px;
}

.card-trainer h2 {
  margin-top: 10px;
  font-family: Montserrat Alternates;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #1d1d1d;
}

.card-trainer button {
  margin-top: 30px;
}

.trainer-dec {
  font-family: Montserrat;
  font-size: 16px;
  color: #1d1d1d;
}

.trainer-dec img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 5px;
}

.ratig img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 0px;
}

.gallery-img {
  width: 170px;
  height: 170px;
  border-radius: 20px;
}

.hr-review {
  margin-left: -15px;
}

.card-more {
  width: 373px;
  height: 268px;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #edefed;
  padding: 30px;
}

.card-more h2 {
  opacity: 0.89;
  font-family: Montserrat Alternates;
  font-size: 20px;
  font-weight: bold;
  color: #1d1d1d;
}

.card-more p {
  opacity: 0.89;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 3;
  color: #1d1d1d;
  padding-top: 10px;
}

/* Login Signup page css */
.form-group label {
  opacity: 0.89;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  color: #1d1d1d;
  margin-left: 20px;
}

.form-group .form-control {
  height: 45px !important;
  border-radius: 30px !important;
  border: solid 2px #8ad1dc !important;
  padding-top: 5px !important;
  padding-left: 38px !important;
}

/* Blog Page page css */
.blog {
  padding-top: 90px;
  padding-bottom: 50px;
}

.blog-img {
  width: 100%;
  height: 50% !important;
}

.blog-box {
  width: 340px;
  height: 336px;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.blog-box a {
  font-family: Montserrat Alternates;
  font-size: 20px;
  font-weight: bold;
  color: #1d1d1d;
  text-decoration: none;
}

.blog-box a :hover {
  text-decoration: none;
}

.blog-box p {
  font-family: Montserrat;
  font-size: 14px;
  color: #1d1d1d;
}

.blog-box .blog-body {
  padding-top: 35px;
  padding-left: 20px;
}

.blog-detail {
  padding-bottom: 90px;
}

.related-box {
  border: 1px solid #d1d1d1;
  font-family: Montserrat;
  font-size: 14px;
  color: #1d1d1d;
  margin-left: 16px;
  margin-top: 4px;
}

.related {
  margin-top: 12px;
}

.related h5 {
  font-family: Montserrat Alternates;
  font-size: 20px;
  font-weight: bold;
  color: #1d1d1d;
}

.related a:hover {
  text-decoration: none;
}

.blog-header {
  background: url("../images/home/blog-header.svg") no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 410px;
}

.featured-img {
  width: 550px;
  height: 360px;
  border-radius: 20px 0px 0px 20px;
  -webkit-box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.1);
}

.featured-body {
  width: 534px;
  height: 360px;
  border-radius: 0px 20px 20px 0px;
  -webkit-box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.1);
  margin-left: -20px;
  padding-left: 25px;
  padding-top: 120px;
  background-color: #ffffff;
}

.featured-body p {
  opacity: 0.89;
  font-family: Montserrat;
  font-size: 14px;
  color: #1d1d1d;
}

.featured-body h2 {
  font-family: Montserrat Alternates;
  font-size: 32px;
  font-weight: bold;
  color: #1d1d1d;
}

.featured-blog {
  margin-top: -180px;
}

.blog-post p {
  font-family: Montserrat;
  font-size: 14px;
  color: #ffffff;
  margin-top: -106px;
}

.blog-post a {
  font-family: Montserrat Alternates;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin-top: -80px;
  position: absolute;
}

.blog-post img {
  border-radius: 20px;
}

/* Rating css */
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}

.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

.rate:not(:checked) > label:before {
  content: '★ ';
}

.rate > input:checked ~ label {
  color: #8ad1dc;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #8ad1dc;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #8ad1dc;
}

.rev-btn {
  width: 164px;
  height: 60px;
  border-radius: 30px;
  background-color: #8ad1dc;
  border-color: #8ad1dc;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #1d1d1d;
  padding-top: 20px;
}
/*# sourceMappingURL=style.css.map */